*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    color: black;
}

.image-logo{
    float:left;
    margin-left: 50px;;
    margin:0;
    max-width: 35%;
}

.nav-bar{
    clear: both;
    height: 75px;
    border: red;
}

.nav-ul{
    float: right;
}

.nav-ul li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    line-height: 75px;
    height: 75px;
}

.div-button{
    padding: 15px;
    margin: 20px;
    font-size: 1.3em;
}

.start{
    margin:auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

.start h1{
    font-size: 2.3em;
}

.form-mail{
    margin: 2em;
    text-align: center;
    align-items: center;   
}

.form-mail input[type="email"]{
    background-color: white;
    height: 2em;
}

.form-mail input[type="submit"]{
    margin: 30px;
    border-radius: 5px;
    background:#f1c40f;
    border: 2px solid black;
    color: black;
    padding: 5px;
}

.form-mail input[type="submit"]:active{
    transform: translateY(4px);
}




.footer{
}